@model Webshop.Models.SinhVien;



@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*<style>
    .field-validation-error{
        color:red;
    }
</style>*@
<style>
    .validation-summary-errors {
        color: red
    }
</style>

<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>

<form action="/Home/Creact" method="post">
    
    <label for="Name">Name</label>
    <input type="text" data-val="true"
    data-val-length="Length must be between 3 to 25"
    data-val-length-max="25" data-val-length-min="3" 
    data-val-required="Please enter the name" id="Name" name="Name" value="" />
    <span class="field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true"></span>
    <br />

   @* <div asp-validation-summary="ModelOnly">
        <span>Please correct the follwing errors</span>
    </div>
    <label asp-for="Diem"></label>
    <input asp-for="Diem" />
    </br>
    <label asp-for="DTB"></label>
    <input asp-for="DTB" />
    </br>
    <label asp-for="DiaChi"></label>
    <input asp-for="DiaChi" />
    </br>
    <label asp-for="SDT"></label>
    <input asp-for="SDT" />

    </br>
    <label asp-for="Email"></label>
    <input asp-for="Email" />
    </br>
    <label asp-for="Ngaysinh"></label>
    <input asp-for="Ngaysinh" />

    <input type="submit" name="submit" />*@

</form>
